* {
    margin: 0;
    padding: 0;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-top: 20px;
    transform: translateY(-35px);
}

h1 {
    font-family: "Poppins";
    font-size: 24px;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 10px;
}

.line {
    width: 900px;
    border: 0.01px solid #333;
    background-color: #333;
    margin-bottom: 8px;
}

.form-container {

    .field {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    input, select, option, textarea {
        width: 700px;
        padding: 8px;
        margin: 8px 0;
        font-family: "Poppins";
        font-size: 18px;
    }
    textarea {
        min-height: 60px;
        min-width: 480px;
    }

    .last {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 300px;
            padding: 6px;
            font-family: "Poppins";
            font-size: 14px;
            font-weight: 800;
            cursor:not-allowed;
            background-color: rgb(233, 233, 233);
            border: 1px solid rgb(133, 132, 132);
        }

        // button:hover {
        //     border-color: rgb(46, 46, 46);
        // }
    }

    .star {
        width: 30px;
        margin: 3px;
        opacity: 50%;
        cursor: pointer;
    }
}